@{
    ViewBag.Title = "RW Resources";
}

<div class="jumbotron">
    <h1>RW Resources</h1>
    <p>@Html.ActionLink("eBay", "Index", new { controller = "Ebay" }, new { @class = "btn btn-primary btn-large" })</p>
</div>



@*@{Html.RenderAction("Partial", "Home", new {name = "Body"});}*@ 

