<div id="eBaySpaBody" ng-controller="EbayCtrl">
    <div class="btn-group">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>

        <div class="btn-group">
            <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
                <li>
                    <a href ng-click="routeCandList()">Candidate List</a>
                </li>
                <li>
                    <a href ng-click=" routev1()">View 1</a>
                </li>
                <li>
                    <a href ng-click="routev2()">View 2</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-view></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.js"
        data-main="@ViewBag.ReqJsUri">
</script>