
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="spaBody">
    <h1>ebay index</h1>
    <div ng-view></div>
</div>

<h3>@ViewBag.ReqJsUri</h3>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.js"
        data-main="@ViewBag.ReqJsUri">
</script>